<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-4">
    <div class="page-header">
        <h1>Danh sách đơn hàng</h1>
    </div>
    <div class="row" style="margin-bottom: 25px;">
        <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="product-main-body">
                <form method="post">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">STT</th>
                                <th class="text-center">Tên khách hàng</th>
                                <th class="text-center">Số điện thoại</th>
                                <th class="text-center">Email</th>
                                <th class="text-center">Trạng thái</th>
                                <th class="text-center">Khách hàng</th>
                                <th class="text-center" width="50"><input id="checkAll" name="checkAll" type="checkbox"
                                        class='form-check-input' /></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each orders}}
                            <tr>
                                <td class='text-center'>{{sum @index 1}}</td>
                                <td><a class='link-dark' href='/admin/order/{{this.userId}}'>{{this.name}}</a></td>
                                <td class="text-center">{{this.phone}}</td>
                                <td class="text-center">{{this.email}}</td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"><input name="ids[]" type="checkbox" value="', $order['ID'], '"
                                        class="form-check-input" /></td>
                            </tr>
                            {{/each}}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <select name="act">
                                        <option>Chọn thao tác</option>
                                        <option value="confirm">Xác nhận</option>
                                        <option value="shipping">Giao hàng</option>
                                        <option value="complete">Hoàn thành</option>
                                        <option value="cancel">Hủy</option>
                                        <option value="delete">Xóa</option>
                                    </select>
                                    <button type="submit" class="btn btn-sm btn-success">Cập nhật</button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </form>

            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row">

                <h4 class="lighter" style="margin-top: 0;">
                    <i class="fa fa-info-circle blue"></i>
                    Chi tiết »
                </h4>
                <div class="morder-info">
                    <div class="tab-contents" style="padding: 8px 0px;">
                        <h5 class="blue">#Thông tin giao hàng </h5>
                        <p><label>Điện thoại : </label> <span>{{order.phone}}</span></p>
                        <p><label>Họ tên : </label> <span> </span></p>
                        <p><label>Địa chỉ : </label> <span> </span></p>
                        <p><label>Ghi chú : </label> <span></span></p>
                       
                        <h5 class="blue">#Thông tin đơn hàng </h5>
                        <p><label>Tổng giá trị : </label><span> bảng CảtItems</span>
                        </p>
                        <p><label>Thời gian : </label><span>
                            </span></p>
                        <p><label>Trạng thái : </label><span></span></p>
                        <h5 class="blue">#Thông tin sản phẩm </h5>

                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Hình ảnh</th>
                                    <th>Sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Giá</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each cartItems}}
                                <tr>
                                    <td><img src="{{this.image}}" alt="image" width="50"></td>
                                    <td>{{this.name}}</td>
                                    <td>{{this.quantity}}</td>
                                    <td>{{this.price}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        <small><label>Tổng : </label> <span> sản phẩm</span></small>
                        <a href="http://localhost:8080/webshop/hoadon.php?id='.$idcustomer.'"
                            class="btn btn-success">Xuất
                            hóa đơn Excel</a>

                    </div>
                </div>

            </div>
        </div>
    </div>
</main>